

<div class="split-container">

    <div class="left-section">
        <img class="logo "src="~/images/logos/rpslogo.png" style="width: 100%"/>
    </div>


    <div class="right-section" style="padding-top:30px;">
        <h1 style="align-content:space-evenly">
            Welcome to RPS Academy,
        </h1>
        <h2>
            your trusted study companion on the path to mastery. Here, we've crafted a dynamic learning experience that combines knowledge acquisition with enjoyment. Join us on your journey from beginner to expert. Feel free to click through the tabs below to get a better understanading of everything we have to offer.
        </h2>
    </div>
</div>

<hr />
<div class="d-flex align-items-start" style="padding-top: 30px">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>Disabled</button>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
            <partial name="Partials/_TabHomePartial" />

        </div>
        <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
    </div>
</div>


@*<ul class="nav nav-tabs" style="padding-top: 60px" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" style="color:black" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Home</a>
    </li>
    <li class="nav-item" role="presentation" style="background-color: lightgray">
        <a class="nav-link" style="color:black" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">Profile</a>
    </li>
    <li class="nav-item" role="presentation" style="background-color: lightgray">
        <a class="nav-link" style="color:black" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">Profile</a>
    </li>
    <li class="nav-item" role="presentation" style="background-color: lightgray">
        <a class="nav-link" style="color:black" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">Profile</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="home" role="tabpanel">
        <partial name="Partials/_TabHomePartial" />
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel">
        <h2>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</h2>
    </div>

    <div class="tab-pane fade" id="dropdown2">
        <h2>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</h2>
    </div>
</div>*@